astroid==2.5.3
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
gym==0.10.5
idna==2.10
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
numpy==1.20.2
numpy-stl==2.16.0
pyglet==1.5.15
pylint==2.7.4
python-utils==2.5.6
requests==2.25.1
six==1.15.0
toml==0.10.2
torch @ https://download.pytorch.org/whl/cu101/torch-1.4.0-cp38-cp38-win_amd64.whl
typing-extensions==3.7.4.3
urllib3==1.26.4
wrapt==1.12.1
